<main role="main">
  <div class="jumbotron landing-jumbotron" style="background: url('{{ url_for('static', filename='images/Hybrid-meeting-800x533-1.jpg') }}')  center center;background-size: cover;">
    <div class="container landing-box">
      <h1 class="display-3 landing-text">Bring in the Data!</h1>
      <p>Contoso Local is a website for helping you understand more about Local Insights in your local region.  If you sign up then you will be able to access a dashboard built in Power BI which only shows information about the region in which you signed up to. The Row Level Security has been tailored based on the location which you choose so please choose wisely.</p>
      <p style="padding-bottom: 2rem"></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <h2>Covid Updates</h2>
        <p>Need to see the latest Coronavirus cases?</p>
        <p><a class="btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">Covid Cases »</a></p>
      </div>
      <div class="col-md-4 offset-md-2">
        <h2>Deprivation Data</h2>
        <p>Need to see the deprivation data about your region and compare with other datasets?</p>
        <p><a class="btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">Deprivation Data»</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>
